.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: calc(100% - 30px);
  overflow: hidden;
  color: #777;
  background: #ededed;
  padding: 0 15px;
}

.header > a > img {
  height: 50px;
}
