.profileContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.profileContents {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 30%;
  height: 100%;
}

.profileImage {
  flex: 1 1 auto;
}
.profileImage > img {
  height: 100px;
}

.profileData {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.profileEntry {
  display: flex;
  text-align: left;
  margin: 0 0 10px;
}
.profileEntry > :first-child {
  flex: 0 0 100px;
  margin: 0 10px 0 30px;
  font-weight: 700;
}
