.detailList {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 25%;
}

.detailEntry {
  display: flex;
  text-align: left;
  margin: 0 0 5px;
}
.detailEntry > :first-child {
  flex: 0 0 100px;
  margin: 0 10px 0 30px;
  font-weight: 700;
}
