.homeContainer {
  width: 100%;
  height: 100%;
}

.homeTable {
  width: 50%;
  margin: 0 25%;
}

.homeTable thead {
  cursor: pointer;
  user-select: none;
}

.homeTableLeft {
  text-align: left;
}

.homeTableLink {
  text-decoration: none;
}
